.my_primary-btn {
    font-family: muli !important;
    font-weight: 500 !important;
    font-size: 16px !important;
    line-height: 16px !important;
    text-align: center !important;
    border-radius: 10px;
    border: none;
    color: #fff !important;
    background-color: #21d196 !important;
    text-decoration: none;
    padding: 16px !important;
    width: 300px;
}
.my_primary-btn:hover{
     color: #fff !important;
    background-color: #18b681 !important;
    text-decoration: none;
}

.sign_up-btn{
    color: #fff !important;
    background-color: #21d196 !important;
}
.sign_up-btn:hover{
    color: #fff !important;
    background-color: #18b681 !important;
}
.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.lg-tag {
  border-left: 4px solid #f6c456;
  font-size: 26px;
  text-indent: 10px;
  margin: 15px 0;
}
.primary-text{
  font-size: 18px;
  letter-spacing: 2px;
  word-break: break-word;
  line-height: 1.6;
}
.float-r {
  float: right;
}
.pd-20 {
  padding-left: 20px;
  padding-right: 20px
}
.mg-20 {
  margin: 0 20px;
}
.sm-text {
  font-size: 16px;
  text-indent: 30px;
  color: #333;
}
.bg-white {
  background-color: #fff !important;
}
body {
  background-color: #f6f6f6;
  padding-top: 75px !important;
  overflow-x: hidden;
  
}
.primary-shadow {
  box-shadow: 1px 2px 3px #dddddd;
}
.mt-20 {
  margin-top: 20px;
}
.mt-10 {
  margin-top: 10px;
}
.h4 {
  font-size: 22px !important;
  font-weight: bold !important;
}
.hidden {
  display: none;
}
.hello {
  font-size: 18px;
  font-weight: 700;
  color: #000 !important;
}
.hev{
  font-weight: 700;
}
@media (min-width: 1200px) {
  .visible-lg {
    display: block !important;
  }
  
}
@media (max-width: 514px) {
  .pt-0-xs {
    padding: 0 !important;
  }
  .hello{
    margin-left: 15px;
  }
}
.row div {
  box-sizing: border-box !important;
}